/* google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* layout */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  color: $color-primary;
  text-decoration: none;
}

p,
h3 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
