.collapse {
  margin-top: 16px;
  margin-bottom: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 5px;
    padding-bottom: 5px;

    background-color: $color-primary;
    border-radius: 5px;

    z-index: 10;

    h3 {
      margin-left: 11px;

      font-size: 13px;
      color: white;
    }

    button {
      margin: 0;
      padding: 0;

      background-color: transparent;
      border: none;

      margin-right: 0.5rem;

      font-size: 1rem;
      font-weight: 500;
      color: white;

      cursor: pointer;

      &:hover {
        color: #c4c4c4;
      }
    }

    @media screen and (min-width: 1024px) {
      border-radius: 10px;

      h3 {
        font-size: 18px;
        margin-left: 20px;
      }

      button {
        font-size: 25px;
      }
    }
  }

  &__content {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #f6f6f6;
    border-radius: 5px;

    font-size: 12px;

    z-index: 1;

    @media screen and (min-width: 1024px) {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 20px;
      padding-left: 20px;

      min-height: 250px;

      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      font-size: 18px;
    }
  }
}
