.dashboard__card {
  box-shadow: 0 0 6px hsla(0, 0%, 50%, 0.5);

  border-radius: 0.5rem;

  .ant-card-head {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .ant-card-head-title {
  }
}
