header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  img {
    width: 145px;
    height: 47px;
  }

  nav {
    ul {
      display: flex;
      list-style: none;

      li {
        &:nth-child(2) {
          margin-left: 10px;
        }

        a {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 0.75rem;

          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    nav {
      ul {
        li {
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    margin-top: 40px;
    margin-bottom: 40px;

    img {
      width: 210px;
      height: 68px;
    }

    nav {
      ul {
        li {
          &:nth-child(2) {
            margin-left: 57px;
          }

          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
